<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-white" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to 'Articles', admin_articles_path, class: 'nav-link text-white' %>
      </li>
      <li class="nav-item ">
          <%= link_to 'Add Article', new_admin_article_path, class: 'nav-link text-white' %>
      </li>
        <% else %>
          <%= link_to 'Articles', articles_path, class: 'nav-link text-white' %>
        <% end %>
      </li>
      <li class="nav-item text-white">
        <% if user_signed_in? %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path, class: 'nav-link text-white' %>
        <% end %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>